{{#head}}
  <meta property="al:ios:url" content="rum://action=addToGroup&groupId={{ group.id }}">
  {{!-- If we get an App Store ID
  <meta property="al:ios:app_store_id" content="" />
  --}}
{{/head}}

<div>
  <p>You were invited by {{ inviter.id }} to join {{ group.name }}</p>
</div>
